body {
    background-color: rgb(254, 236, 214);
    padding: 0 40px;
    text-align: center;
}

.search-form input {
    height: 30px;
    border-radius: 5px;
}

.search-form button {
    height: 35px;
    width: 100px;
    border-radius: 5px;
}

.gallery {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &_card {
        border: 2px;
    }

    &_img {
        height: 300px;
        width: 450px;
    }

    &_info {
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
    }
}

.load-more {
    width: 270px;
    height: 35px;
    border-radius: 5px;
}

.is-hiden {
    display: none;
}