body {
    background-color: bisque;
    padding: 0 40px;
}

.gallery {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &_card {
        border: 2px;
    }

    &_img {
        height: 300px;
        width: 450px;
    }

    &_info {
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
    }
}